.showcase img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.98;
    z-index: -1;
}

.navbar {
    box-shadow: 0 0 15px rgb(0, 0, 0);
    background-color: #333;
    overflow: hidden;
    opacity: 96%;
    object-fit: cover;
    width: auto;
    height: auto;
    margin-top: 0%;
}

.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.navbar a:hover {
    background-color: rgb(145, 17, 17);
    color: black;
}

.navbar a.active {
    background-color: rgb(145, 17, 17);
    color: white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    position: inherit;
}

li a,
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover,
.dropdown:hover .dropbtn {
    background-color: rgb(145, 17, 17);
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: fixed;
    top: 62px;
    left: auto;
    background-color: #333;
    min-width: min-content;
    max-width: max-content;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}


.info1 {

    position: absolute;
    margin-top: 2%;
    margin-left: 50px;

}


.h1 {
    margin-left: 25px;
}

.p {
    margin-right: 25px;
}

.footer {
    position: relative;
    width: 100%;
    text-align: center;
    background-color: white;

}

.footer-end {
    margin-top: 0;
    margin-bottom: 0;
    width: auto;
    width: 100%;
    background-color: rgb(38, 38, 41);
    color: white;
}